{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        com.brunobonacci/mulog {:mvn/version "0.10.1"}
        com.brunobonacci/mulog-opentelemetry {:mvn/version "0.10.1"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        org.commonmark/commonmark {:mvn/version "0.24.0"}
        org.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.24.0"}
        org.commonmark/commonmark-ext-gfm-strikethrough {:mvn/version "0.24.0"}
        org.commonmark/commonmark-ext-task-list-items {:mvn/version "0.24.0"}
        org.commonmark/commonmark-ext-footnotes {:mvn/version "0.24.0"}
        org.jsoup/jsoup {:mvn/version "1.18.3"}
        metosin/malli {:mvn/version "0.20.1"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        nrepl/nrepl {:mvn/version "1.3.1"}
        metosin/muuntaja {:mvn/version "0.6.10"}
        metosin/reitit {:mvn/version "0.7.2"}
        metosin/reitit-malli {:mvn/version "0.7.2"}
        metosin/reitit-middleware {:mvn/version "0.7.2"}
        com.layerware/hugsql {:mvn/version "0.5.3"}
        com.zaxxer/HikariCP {:mvn/version "6.2.1"}
        dev.weavejester/ragtime {:mvn/version "0.12.0"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}
        org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}
                              cider/cider-nrepl {:mvn/version "0.30.0"}}}
           :test {:extra-paths ["test"]}
           :legacy {:extra-paths ["legacy_src"]
                    :extra-deps {org.clojars.quoll/asami {:mvn/version "2.2.4"}}}
           :uberjar {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                     :ns-default build}}}
